@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: "Poppins";
} */

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.circle{
  @apply border-white border-2 rounded-full p-2
}

.set-3{
  @apply flex gap-2 items-center
}

.set{
  @apply border-gray-500 text-gray-500 border-[1px] rounded-md p-2 items-center
}