@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  /* font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif; */
  font-family: var(--font-poppins);
}

p {
  font-size: 14px;
}

label {
  font-size: 14px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@layer components {
  .circle {
    @apply border-white border-2 rounded-full p-2;
  }

  .set-3 {
    @apply flex gap-2 items-center;
  }

  .set {
    @apply border-gray-500 text-gray-500 border-[1px] rounded-md p-2 items-center;
  }

  .btn-main {
    @apply bg-orange700 font-medium text-white text-sm md:text-xs rounded;
  }

  .btn-outline {
    @apply text-orange700 border-2 border-orange700 text-sm md:text-xs rounded font-medium;
  }
}

.auth {
  @apply mt-6;
}

.auth > div {
  @apply flex flex-col gap-1;
}

.auth > div input {
  @apply border-black border-[1px] p-2 md:py-4 md:px-3 md:text-sm rounded-lg;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

  width: 100%;
  position: absolute;
  z-index: 2;
  @apply h-[20%];
}

.full-overlay {
  background: rgba(0, 0, 0, 0.2);

  width: 100%;
  position: absolute;
  /* z-index: 20; */
  @apply h-[100%] top-0 z-10;
}

.overlay-rev {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

  width: 100%;
  position: absolute;
  z-index: 2;
  @apply h-[20%] bottom-0;
}

.img-icon {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  /* border: 1px solid white; */
  @apply rounded-lg p-3 cursor-pointer;
}

.image-options {
  transition: all 0.3s;
}

.image-options {
  /* display: none; */
  opacity: 0;
}

.main-image:hover .image-options {
  display: block;
  opacity: 1;
  transition: all 0.3s;
}

/*  ------------------------------------------------
    Custom Styling for Creator Page at app/creator
    ------------------------------------------------   */
.bg-span-img {
  background-image: url('../../public/images/creator/creator-hero-span-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-green {
  background: linear-gradient(90deg, #62b66f 0%, rgba(0, 40, 6, 0.82) 111.75%);
}

.overlay-top::after {
  content: url('../../public/svg/creator-gradient.svg');
  position: absolute;
  width: fit-content;
  top: -110%;
  /* left: 0; */
  /* right: 0; */
  left: 50%;
  transform: translateX(-50%);
}

.gradient-collage {
  background: rgba(221, 142, 102, 0.5);
}

/*  ------------------------------------------------
    Custom Styling for Hero Marquee
    ------------------------------------------------   */

/* .marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee img {
  display: inline-block;
  animation: marquee 10s both infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(90vw);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee img {
  /* width: 100%; */
  /* height: 100%; */
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -moz-animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 10s linear infinite;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-100vw);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(-100vw);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

.container {
  @apply px-xPadding;
}

form input {
  @apply border-2 p-3 rounded-md text-[14px] focus:outline-none;
}

/* .edit div{
    
} */

@media screen and (max-width: 800px) {
  .edit div {
    display: flex;
    flex-direction: column;
  }
}

input[type='file'] {
  @apply absolute top-0 w-[80px] h-[60px] opacity-0;
}

.loader {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 